@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html,
body {
  background-color: #1F191A;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;  /*для горизонтального*/
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


