// @media (max-width:960px) { css... }
$red: #E74C3C;

$bgcolor: #1F191A;
$hambgcolor: #CF649A;
$hambasewidth: 25px;
$hamsizemultiplier: 2;






.container {
    height: 50px;
    background-color: $bgcolor;
    ul {
        padding-top: 8px;
        li {
            float: right;
            list-style: none;
            a:before {
                background-color: #ec333f;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.5s ease-in-out;
                width: 100%;
                border-radius: 5px;
            }
            a:hover:before {
                transform: scaleX(1);
                transform-origin: right;
                transition: transform 0.5s 0.5s ease-in-out;
            }
            a {
                display: block;
                font-weight: 300;
                height: 40px;
                letter-spacing: 2px;
                overflow: hidden;
                padding: 5px 10px;
                position: relative;
                text-decoration: none;
                span {
                    align-items: center;
                    color: #ffffff;
                    display: flex;
                    font-size: 20px;
                    height: 100%;
                    justify-content: center;
                    position: relative;
                    transition: transform 0.5s 0.5s ease;
                    width: 100%;
                }
            }
        }
    }
    ul li a:hover span,
    ul li a:focus span,
    ul li a:active span:nth-child(1) {
        transform: translateY(-100%);
        transition-delay: 0s;
    }
    ul li a:hover span,
    ul li a:focus span,
    ul li a:active span:nth-child(2) {
        transform: translateY(-100%);
        transition-delay: 0s;
    }
}


  
  